@page
@model WebApplication1.Pages.AdminpageModel
@{
}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<h1 class="text-center">Admin Panel</h1>
<br />
<br />
<h2 class="text-center">Product Manager</h2>
<br />

<form method="post" asp-page-handler="Add">
    <div class="container">
        <div class="">
            <div class="form-group col-sm-6 col-sm-offset-3">
                <label for="productid">Product ID:</label>
                <input type="text" class="form-control" placeholder="Product ID" asp-for="@Model.Products.Id" readonly>

            </div>
            <div class="form-group col-sm-6 col-sm-offset-3">
                <label for="productname">Product Name:</label>
                <input type="text" class="form-control" placeholder="Product Name" asp-for="@Model.Products.Name">
            </div>
            <div class="form-group col-sm-6 col-sm-offset-3">
                <label for="productdesc">Product Description:</label>
                <input type="text" class="form-control" placeholder="Product Description" asp-for="@Model.Products.Description">
            </div>
            <div class="form-group col-sm-6 col-sm-offset-3">
                <label for="productfitfor">Fit For:</label>
                <input type="text" class="form-control" placeholder="Fit For" asp-for="@Model.Products.FitFor">
            </div>
            <div class="form-group col-sm-6 col-sm-offset-3">
                <label for="productmanufacturer">Product Manufacturer:</label>
                <input type="text" class="form-control" placeholder="Product Manufacturer" asp-for="@Model.Products.Manufacturer">
            </div>
            <div class="form-group col-sm-6 col-sm-offset-3">
                <label for="productprice">Product Price:</label>
                <input type="text" class="form-control" placeholder="Product Price" asp-for="@Model.Products.Price">
            </div>
            <div class="form-group col-sm-6 col-sm-offset-3">
                <label for="productimage">Product Image:</label>
                <input type="text" class="form-control" placeholder="Product Image (include extension)" asp-for="@Model.Products.ProductImage">
            </div>
            <div class="form-group col-sm-6 col-sm-offset-3">
                <label for="productvideo">Product Video:</label>
                <input type="text" class="form-control" placeholder="Product Video (include extension)" asp-for="@Model.Products.Video">
            </div>

            <div class="form-group col-sm-6 col-sm-offset-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>
<br>
<br>
<h2 class="text-center">Role Manager</h2>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>User Roles</th>
            <th>Manager</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model.roles)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td><a class="btn btn-sm btn-danger order-button float-right" asp-page="/Adminpage" asp-route-RoleId="@role.Id" asp-page-handler="DeleteRole">Delete Role</a></td>
            </tr>
        }
        <form method="post" asp-page-handler="AddRole">
            <div class="container">
                <div class="form-group col-sm-6 col-sm-offset-3">
                    <input type="text" name="roleName" placeholder="Add Role" class="form-control">


                </div>
                <div class="form-group col-sm-6 col-sm-offset-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </div>



        </form>

    </tbody>
</table>
<br />
<br />
<h2 class="text-center">User Manager</h2>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Password Manager</th>
            <th>Manager</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.users)
        {
        <tr>
            <td>@user.Id</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
            <td>
                <form method="post" asp-page-handler="ChangePassword" asp-route-UserId="@user.Id">
                    <input asp-for="passwordString" />
                    <input type="submit" value="Update Password" class="btn btn-default" />
                </form>
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Role
                    </button>
                    <div class="dropdown-menu">
                        @foreach (var role in Model.roles)
                        {
                            <a class="dropdown-item"  asp-page="/Adminpage" asp-route-UserId="@user.Id" asp-route-roleName="@role.Name" asp-page-handler="ChangeRole">@role.Name</a>
                        }

                    </div>
                </div>

            </td>
            <td><a class="btn btn-sm btn-danger order-button float-right" asp-page="/Adminpage" asp-route-UserId="@user.Id" asp-page-handler="DeleteUser">Delete User</a></td>


        </tr>
        }
    </tbody>
</table>


