@page
@model WebApplication1.Pages.CartModel
@{
}

<html>
<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/shop.css">
    <link rel="stylesheet" type="text/css" href="~/cart.css">

</head>
<body>
    <section class="control">
        <header class="navi">
            <h1 class="ender"> Copyright. Aras Butrimanskas - N0844425 NTU </h1>

            <a asp-page="index"><img class="pt-0" src="~/logosmall.png" alt="driftgineers logo"></a>
            <ul>
                <li><a asp-page="Index">Home</a></li>
                <li><a asp-page="Shop">Shop</a></li>
                <li><a class="active" href="#">Cart</a></li>
            </ul>
        </header>
    </section>


    <div class="container bootstrap snippets bootdey">
        <div class="col">
            
            <div class="row">
                <div class="col">
                    <div class="panel panel-info panel-shadow">
                        <div class="panel-heading">
                            <h1 class="hdeals text-center mb-5 mt-5">

                                @Model.customername's Cart
                            </h1>
                            <br />
                            <br />
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table text-center">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="total">Product</th>
                                            <th class="total">Quantity</th>
                                            <th class="total">Price (incl. VAT)</th>
                                            <th></th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.cart)
                                        {
                                            <tr>
                                                <td class="imgtd p-0"><img class="productimg" src="@item.ProductImage" /></td>
                                                <td class="info"><strong>@item.Name</strong></td>
                                                <td class="">

                                                    <a asp-route-id="@item.Id" asp-page-handler="AddOne"><button class="addremoveone">+</button></a>
                                                    <strong class="text-center info">@item.Quantity</strong>
                                                    <a asp-route-id="@item.Id" asp-page-handler="RemoveOne"><button class="addremoveone">-</button></a>

                                                </td>
                                                <td class="info"><strong>&euro;@item.price</strong></td>
                                                <td><a asp-route-id="@item.Id" asp-page-handler="Delete"><button class="removefromcart">Remove</button></a></td>

                                            </tr>
                                        }
                                    </tbody>
                                    <p class="total ml-4"><strong>Cart</strong></p>
                                </table>
                                <p class="text-right total">Total: &euro;@Model.total</p></td>
                            </div>
                        </div>
                    </div>

                    <a asp-page="shop"><button class="addtocart">Continue Shopping</button></a>
                    <a asp-page="checkout"><button class="addtocart floatright">Checkout</button></a>
</div>
            </div>
        </div>
    </div>
</body>
</html>
