@page
@model WebApplication1.Pages.ProductModel
@{
}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <script src="javascript.js" defer></script>
    <script src="videopopup.js" defer></script>
    <link rel="stylesheet" type="text/css" href="shop.css">

</head>

<body>
    <section class="control">
        <header class="navi">
            <partial name="_LoginPartial" />
            <footer>
                <h1 class="ender"> Copyright. Aras Butrimanskas - N0844425 NTU </h1>
            </footer>
            <a asp-page="index"><img src="logosmall.png" alt="driftgineers logo"></a>
            <ul>
                <li><a asp-page="Index">Home</a></li>
                <li><a asp-page="shop">Shop</a></li>
                <li><a href="#">Cart</a></li>
            </ul>
        </header>
    </section>

    <div class="columnmain">
        <div class="row1">
            <div class="productimage">
                <img src="@Model.Products.ProductImage">

            </div>

            <div class="productinfo">
                <h1> @Model.Products.Name </h1>
                <h2> &euro; @Model.Products.Price (Price incl. VAT) </h2>
                @if (Model.Products.Video != null)
                {
                    <a href="#" onclick="popup();">Watch Video</a>
                    <div class="kwvideo">
                        <video src="@Model.Products.Video" controls="true"></video>
                        <h1 class="exitbutton" onclick="exit();"> EXIT VIDEO </h1>
                    </div>
                }

                <br>
                <hr>
                <div class="listinfo">
                    <ul>
                        <li>Manufacturer: @Model.Products.Manufacturer </li>
                        <li>Fit for: @Model.Products.FitFor</li>
                        <li>Delivery time: 7-14 days</li>
                    </ul>
                </div>
                <hr>
                <div class="descriptioninfo">
                    <p> @Model.Products.Description
                    <p>
                </div>
                <hr>
                <button> add to cart </button>
            </div>
        </div>



    </div>





</body>
