@page
@model WebApplication1.Pages.ShopModel
@{
}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <script src="javascript.js" defer></script>
    <link rel="stylesheet" type="text/css" href="shop.css">

</head>

<body>
    <section class="control">
        <header class="navi">
            <footer>
                <h1 class="ender"> Copyright. Aras Butrimanskas - N0844425 NTU </h1>
            </footer>
            <a href="index.html"><img src="logosmall.png" alt="driftgineers logo"></a>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a class="active" href="#">Shop</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="#">Cart</a></li>
            </ul>
        </header>
    </section>
    <div class="wrapper">
        <h1 class="hdeals"> Shop </h1>
    </div>


    @{

        var productCount = Model.Products.Count;

        for (int i = 0; i < productCount; i = i + 3)
        {

            <div class="row">
                    <div class="itemcolumn">
                        <a asp-page="Product" asp-route-id="@Model.Products[i].Id"> <img src="@Model.Products[i].ProductImage" alt="coilover photo"> <br> </a>
                        <h2> @Model.Products[i].Name </h2> <br>
                        <p class="dealprice"> &euro; @Model.Products[i].Price (Price incl. VAT)</p> <br><br>
                        <button><a asp-page-handler="Cart" asp-route-id="@Model.Products[i].Id">add to cart </a></button>
                        @if (this.User.IsInRole("Admin"))
                        {
                    <button><a asp-page="Adminpage" asp-route-id="@Model.Products[i].Id"> edit</a></button>
                    <button><a asp-page="/Shop" asp-route-id="@Model.Products[i].Id" asp-page-handler="Delete">delete</a> </button>
                        }
                    </div>

                @if (i + 1 < productCount)
                {
            <div class="itemcolumn">
                <a asp-page="Product" asp-route-id="@Model.Products[i + 1].Id"> <img src="@Model.Products[i + 1].ProductImage" alt="coilover photo"> <br> </a>
                <h2> @Model.Products[i + 1].Name </h2> <br>
                <p class="dealprice"> &euro; @Model.Products[i + 1].Price (Price incl. VAT)</p> <br><br>
                <button><a asp-page-handler="Cart" asp-route-id="@Model.Products[i + 1].Id">add to cart  </a></button>
                @if (this.User.IsInRole("Admin"))
                {
            <button><a asp-page="Adminpage" asp-route-id="@Model.Products[i + 1].Id">edit</a></button>
            <button><a asp-page="/Shop" asp-route-id="@Model.Products[i + 1].Id" asp-page-handler="Delete">delete</a> </button>
                }
            </div>
                }

                @if (i + 2 < productCount)
                {
            <div class="itemcolumn">
                <a asp-page="Product" asp-route-id="@Model.Products[i + 2].Id"> <img src="@Model.Products[i + 2].ProductImage" alt="coilover photo"> <br> </a>
                <h2> @Model.Products[i + 2].Name </h2> <br>
                <p class="dealprice"> &euro; @Model.Products[i + 2].Price (Price incl. VAT)</p> <br><br>
                <button><a asp-page-handler="Cart" asp-route-id="@Model.Products[i + 2].Id"> add to cart </a></button>
                @if (this.User.IsInRole("Admin"))
                {
            <button><a asp-page="Adminpage" asp-route-id="@Model.Products[i + 2].Id"> edit </a></button>
            <button><a asp-page="/Shop" asp-route-id="@Model.Products[i + 2].Id" asp-page-handler="Delete">delete</a></button>
                }
            </div>
                }
            </div>
        }
    }











</body>
